asis/n8n/workflows/webhook_trigger.json
{
  "name": "webhook_trigger",
  "nodes": [
    {
      "id": "webhook",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 280],
      "parameters": {
        "path": "asis-enterprise-trigger",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "analysis",
      "name": "Forward To ASIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 280],
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_URL}}/api/v1/analysis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.N8N_SERVICE_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}"
      }
    },
    {
      "id": "response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [820, 280],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      }
    }
  ],
  "connections": {
    "Inbound Webhook": {
      "main": [[{ "node": "Forward To ASIS", "type": "main", "index": 0 }]]
    },
    "Forward To ASIS": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "webhook-trigger-v1"
}
